@model ReflectionIT.Mvc.Paging.PagingList<BestFood.Models.Lanche>

@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>
<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">Procurar</button>
</form>
Total de Lanches : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
<p>
    <a asp-action="Create">Create New</a> | <a asp-controller="AdminLanchesReport" asp-action="LanchesCategoriaReport">Gerar Relatório</a> | <a asp-controller="AdminLanchesReport" asp-action="LanchesCategoriaPDF">Gerar PDF</a>
</p>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DescricaoDetalhada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IslanchePreferido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmEstoque)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoCurta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IslanchePreferido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmEstoque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.LancheId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.LancheId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.LancheId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
